.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-bottom: 0.2rem solid #000;
    border-top: 0.2rem solid #000;
}
.app__pokemon {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: calc(50vh - 50px);
    margin: 1%;
    max-width: 100%;
}